@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: #f0f7ff;
  --primary-600: #0672cb;
  --primary-950: #092848;

  --background: #202020;

  --neutral-50: #f7f7f7;
  --neutral-600: #7e7e7e;
  --neutral-900: #1a1a1a;
  --neutral-950: #0e0e0e;

  --red: #EC2525;
  --green: #0B8C56;
  --yellow: #E3D464;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  &:focus {
    outline: none;
  }
}

body {
  background: linear-gradient(180deg, var(--primary-600) 22.18%, var(--neutral-900) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: unset;

  &:visited {
    color: unset;
  }
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: linear-gradient(180deg, var(--primary-600) 22.18%, var(--neutral-900) 100%);
//   background-repeat: no-repeat;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: var(--primary-950);
//   border-radius: 100px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

@media screen and (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}