.container {
  display: flex;
  justify-content: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.ground {
  background-color: var(--background);
  height: auto;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h3 {
    color: var(--neutral-50);
    font-size: 1.4rem;
  }
}

.field {
  display: flex;
  margin-top: 1.5rem;

  input,
  textarea {
    width: 100%;
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--neutral-100);

    &::placeholder {
      font-size: 1.6rem;
    }
  }

  input {
    border-bottom: 1.5px solid var(--neutral-600);
    padding: 0.4rem 1.5rem;
  }

  textarea {
    border: 1px solid var(--neutral-600);
    padding: 1rem;
    border-radius: 0.8rem;
    resize: none;
  }
}

.inputFileContainer {
  margin-top: 1rem;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  border: 2px dashed var(--neutral-600);

  input {
    display: none;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--neutral-400);
    color: var(--neutral-100);
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: var(--neutral-50);

    span {
      font-weight: 600;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  button {
    justify-content: center;
    color: #f0f7ff;
    background-color: var(--primary-600);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    transition: 300ms;

    &:hover {
      scale: 1.05;
    }
  }
}

.tagsContainer {
  margin: 2rem 0;

  h4 {
    font-size: 1.4rem;
    color: var(--neutral-50);
    margin-bottom: 0.5rem;
  }

  div {
    display: flex;
  }

  input {
    width: 100%;
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--neutral-100);
    border-bottom: 1.5px solid var(--neutral-600);
    padding: 0.4rem 1.5rem;

    &::placeholder {
      font-size: 1.6rem;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  div {
    display: flex;
    background-color: var(--primary-600);
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;

    font-size: 1.4rem;
    font-weight: 500;
    color: var(--neutral-50);

    p {
      margin-right: 1rem;
    }

    svg {
      cursor: pointer;
      transition: 200ms;

      &:hover {
        scale: 1.1;
        fill: var(--red);
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    border: 1px solid var(--neutral-50);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: var(--neutral-50);
    font-size: 1.4rem;

    p {
      margin-right: 1rem;
    }

    svg {
      cursor: pointer;
      transition: 200ms;

      &:hover {
        scale: 1.1;
        fill: var(--red);
      }
    }
  }
}
