.container{
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  height: auto;
  padding: 20px;
}

.ground{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}