.container {
  display: flex;
  justify-content: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.ground {
  background-color: var(--background);
  height: auto;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h3 {
    color: var(--neutral-50);
    font-size: 1.4rem;
  }
}

.field {
  display: flex;
  margin-top: 1.5rem;

  input,
  textarea {
    width: 100%;
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--neutral-100);

    &::placeholder {
      font-size: 1.6rem;
    }
  }

  input {
    border-bottom: 1.5px solid var(--neutral-600);
    padding: 0.4rem 1.5rem;
  }

  textarea {
    border: 1px solid var(--neutral-600);
    padding: 1rem;
    border-radius: 0.8rem;
    resize: none;
  }
}

.dateField {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.inputsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.2rem;
    color: var(--neutral-100);
  }

  input {
    background-color: var(--background);
    color: var(--neutral-100);
    font-size: 1.4rem;

    &::-webkit-calendar-picker-indicator {
      //display: none;
      //-webkit-appearance: none;
      background-image: url("../Assets/Calendar.png");
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  button {
    justify-content: center;
    color: #f0f7ff;
    background-color: var(--primary-600);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    transition: 300ms;

    &:hover {
      scale: 1.05;
    }
  }
}

.tagsContainer {
  margin: 2rem 0;

  div {
    display: flex;
  }

  input {
    width: 100%;
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--neutral-100);
    border-bottom: 1.5px solid var(--neutral-600);
    padding: 0.4rem 1.5rem;

    &::placeholder {
      font-size: 1.6rem;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  div {
    display: flex;
    background-color: var(--primary-600);
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;

    font-size: 1.4rem;
    font-weight: 500;
    color: var(--neutral-50);

    p {
      margin-right: 1rem;
    }

    svg {
      cursor: pointer;
      transition: 200ms;

      &:hover {
        scale: 1.1;
        fill: var(--red);
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    border: 1px solid var(--neutral-50);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: var(--neutral-50);
    font-size: 1.4rem;

    p {
      margin-right: 1rem;
    }

    svg {
      cursor: pointer;
      transition: 200ms;

      &:hover {
        scale: 1.1;
        fill: var(--red);
      }
    }
  }
}

.rolesHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.role {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  input {
    width: 20%;
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--neutral-100);
    border-bottom: 1.5px solid var(--neutral-600);
    padding: 0.5rem;
    text-align: center;

    &::placeholder {
      font-size: 1.6rem;
    }
  }
}

.h4 {
  font-size: 1.6rem;
  color: var(--neutral-50);
  margin-bottom: 0.5rem;
}
