.container{
  display: flex;
  justify-content: center;
}

.ground{
  background-color: black;
  width: 350px;
  height: auto;
  padding: 20px;
  margin-top: 30px;
}


.intro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.endintro{
  display: flex;
  flex-direction: row;
}

.arrow{
  margin-bottom: 10px;
}

.heart{
  margin-bottom: 10 px;
}

.title{
  p{
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.Leader{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 12px;
  margin-top: 10px;
  align-items: center;
    div{
      p{
        color: white;
        font-size: 14px;
      }
    }
}

.description{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 12px;
  margin-top: 10px;
  align-items:flex-start;
    div{
      p{
        color: white;
        font-size: 14px;
      }
    }
}


.calendar{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
    div{
      p{
      color: white;
      font-size: 14px;
      }
    }
}

.roles{
  margin-bottom: 10px;
}

.rowrole{
  margin-bottom: 4px;
}

.tag{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 12px;
  margin-top: 10px;
  align-items: center;
    div{
      p{
        color: white;
        font-size: 14px;
      }
    }
}

.vector{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 12px;
  margin-top: 10px;
  align-items:flex-start;
    div{
      p{
        color: white;
        font-size: 14px;
      }
    }
}

.calendarDeadline{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 12px;
  margin-top: 10px;
  align-items: center;
    div{
      p{
        color: white;
        font-size: 14px;
        margin: 0;
      }
    }
}

.icon{
  margin-right: 4px;
}