.container{
  display: flex;
  justify-content: center;
}

.ground{
  background-color: black;
  width: 350px;
  height: auto;
  padding: 20px;
  h1{
    color: white;
    margin-bottom: 20px;
  }
}

.arrow{
  margin-bottom: 10px;
}

.heart{
  margin-bottom: 10 px;
}

.Leader{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
    div{
      p{
        color: white;
      }
    }
}

.description{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
    div{
      p{
        color: white;
      }
    }
}

.calendar{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
    div{
      p{
      color: white;
      }
    }
}

.calendar{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
    div{
      p{
      color: white;
      }
    }
}

.tag{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
    div{
      p{
        color: white;
      }
    }
}

.vector{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
    div{
      p{
        color: white;
      }
    }
}

.calendar{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
    div{
      p{
        color: white;
      }
    }
}